.tituloInfo{
    color: white;
    font-size: 300%;
    text-align: center;
}
.encapsularContenido{
    background-color: rgba(195 206 218 /70%);
    width: 90%;
    border-radius: 10px;
    height: 100%;
    margin-left: 7%;
    margin-block-end: 2%;
    padding: 1.5% 1.5% 3% 1.5%;
    
}
.tituloCliente{
    color: white;
    padding-left: 50px;
    height: 50px;
    align-items: center;
    display: flex;
}
.contenidoInfoCliente{ 
    display: flex;
    flex-wrap: wrap;
   /* background-color: rgba(195 206 218 /70%);*/
    background-color: #C3CEDA;
    border-radius: 10px;
    font-size: 2.5vh;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-around;
    margin: 10px;
}
.contenidoInfoCliente > div{
    flex-basis: 33.33%;
}
.avatar{
    border-radius: 50%;
    width: 50px;
}
.usuarioUnidoID{
    display: flex;
    align-items: flex-start;
    
}
.usuarioFinal{
    border-color: black;
    background-color:  #738FA7;
    border-radius: 10px;
}
.usuarioIzq{
    padding-top: 5%;
}

.botonUsuario{
    display: row;
    justify-content: end;
    align-items: center;
}

.iconoUser{
    color: #0c4160;
}
.datosUser{
    margin: 5px;
}

.botonUser{
   float: right;
}
