.contenedorNot{
    height: 86.6vh;
    width: 100%;
}

.tituloNoti{
    color: white;
}

.tituloPara{
    color: white;
    height: 50px;
}

.tituloDes{
    color: white;
    height: 50px;
}

.contDes{

    padding-left: 65px;
    padding-right: 50px;
}

.Descripcion{
    resize: none;
    height: 150px;
    
}

.opcionesNot{
    width: 100%;
    padding-left: 65px;
    padding-right: 50px;
    
}

.botonDes{
    background-color: #738FA7;
    float: right;
    width: 120px;
    font-size: 20px;
}

.botonDes:hover{
    background-color: #486781;
}

.contSelect{
    height: 80px;
}

.botonDes:disabled {
    background-color: rgb(168, 160, 160);
    color: white;
    opacity: 0.6;
    border-color:rgb(168, 160, 160);
  }
