.contenedorNot{
    height: 86.6vh;
    width: 82vw;
}

.tituloNoti{
    color: white;
    font-size: 300%;
    text-align: center;
}

.tituloPara{
    color: white;
    padding-left: 50px;
    height: 50px;
}

.tituloDes{
    color: white;
    padding-left: 50px;
    height: 50px;
}

.contDes{
  
    padding-left: 50px;
    padding-right: 50px;
}

.Descripcion{
    resize: none;
    height: 150px;
    
}

.opcionesNot{
    width: 800px;
    padding-left: 65px;
    
}

.botonDes{
    background-color: #738FA7;
    float: right;
    width: 120px;
    font-size: 20px;
    border-color: #738FA7;
}

.botonDes:hover{
    background-color: #486781;
    border-color: #486781;
}

.contSelect{
    height: 80px;
}


