.containerReporte {
    height: 87vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardReporte {
    max-width: 80%;
    margin-bottom: 2rem;
    background-color: white;
}

.botonSearch{
    background-color: #071330;
  color: #C3CEDA
}