.containerReporte {
    height: 87vh;
    
}
.contenedorPadre{
    height: 87vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardReporte {
    width: 100%;
    max-width: 90%;
    background-color: #C3CEDA;
}

.botonReporte{
    background-color: #738FA7;
    color: white;
}

.botonReporte:hover{
    background-color: #0C4160;
    color: white;
}

.cardTable{
    background-color: #738FA7;
    display: block;
    width: 100%;
    border-radius: 15px;
    margin-top: 9vh;
    padding: 2rem;
}

.bg-date{
    background-color:#738FA7;
    border: none;
    color: white;
    
}

.tabla{
    background-color: #C3CEDA;
    height: 100%;
}
.dropDown{
    width: 110px;
    background-color: #738FA7;
}