.containerReporte {
    height: 87vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardReporte {
    width: 100%;
    max-width: 90%;
    background-color: #C3CEDA;
}

.botonReporte{
    background-color: #738FA7;
    color: white;
}

.cardTable{
    background-color: #738FA7;
}

.bg-date{
    background-color:#738FA7;
    border: none;
}