
.containerInicio{
  height: 87vh;
  width: 100%;
}

.wrapper {
  background-color: #C3CEDA;
  max-width: 500px;
  border-radius: 10px;
  margin: 50px auto;
  padding: 30px 40px;
}

.h2I {
  font-weight: bold;
  color: #071330;
}

.h4I {
  font-family: 'Poppins', sans-serif
}

.input-field {
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid #071330;
  color: #071330;
}

.input-field:hover {
  color: #0C4160;
  border: 1px solid #0C4160
}

.inputColor {
  background-color: #C3CEDA;
  border: none;
  outline: none;
  box-shadow: none;
  width: 100%;
  padding: 0px 2px;
  color: #071330;
  letter-spacing: 1px;
}

.btn.btn-block {
  background-color: #071330;
  color: #C3CEDA
}

.btn.btn-block:hover {
  background-color: #0C4160
}

.eyecolor{
  color:#071330
}

@media(max-width: 575px) {
  .wrapper {
      margin: 10px
  }
}

@media(max-width:424px) {
  .wrapper {
      padding: 30px 10px;
      margin: 5px
  }

  .option {
      position: relative;
      padding-left: 22px
  }

  .option label.text-muted {
      font-size: 0.95rem
  }

  .checkmark {
      position: absolute;
      top: 2px
  }

  .option .checkmark:after {
      top: 50%
  }

  #forgot {
      font-size: 0.95rem
  }
}