.containerInicio {
  height: 87vh;
  width: 100%;
}

.welcomeb {
  border-radius: 50px 0px 0px 50px;
  background: linear-gradient(90deg, #071330, #0C4160, #738FA7);
  border-right: 2px solid #C3CEDA;
}
.contenedorInicio{
  width: 75%;
}

.wrapper {
  background: linear-gradient(90deg, #738FA7, #C3CEDA);
  width: 50%;
}

.wrapper::-webkit-scrollbar {
  width: 8px;
}

.wrapper::-webkit-scrollbar-thumb{
  background: rgba(7, 19, 48, 30%);
}
.h2I {
  font-weight: bold;
  color: #071330;
}

.h4I {
  font-family: 'Poppins', sans-serif
}

.input-field {
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid #071330;
  color: #071330;
}

.input-field:hover {
  color: #0C4160;
  border: 1px solid #0C4160
}

.inputColor {
  background: inherit;
  border: none;
  outline: none;
  box-shadow: none;
  color: #071330;
  letter-spacing: 1px;
}

.btn.btn-block {
  background-color: #071330;
  color: #C3CEDA
}

.btn.btn-block:hover {
  background-color: #0C4160
}

.eyecolor {
  color: #071330
}

@media(max-width: 575px) {
  .wrapper {
    margin: 10px;
    width: 100%;
  }
  .contenedorInicio{
    width: 100%;
  }
}

@media(max-width:424px) {
  .wrapper {
    width: 100%;
    padding: 30px 10px;
    margin: 5px
  }

  .option {
    position: relative;
    padding-left: 22px
  }

  .option label.text-muted {
    font-size: 0.95rem
  }

  .checkmark {
    position: absolute;
    top: 2px
  }

  .option .checkmark:after {
    top: 50%
  }

  #forgot {
    font-size: 0.95rem
  }
}