.tables-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.parqueo-container {
  display: flex;
  flex-direction: column;
  height: 86.9vh;
  
}

.plazas-block {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plazas-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plaza-container {
  margin: 10px;
  position: relative;
}

.plaza {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.plaza::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  height: 30px;
  width: 1px;
  background-color: black;
}

.plaza-button.placeholder {
  border-radius:5%;
  border: none;
  cursor: auto;
  padding: 10px 25px;
}

.plaza-button.disponible {
  background-color: rgb(137 245 137);
    border-radius: 5%;
    cursor: pointer;
    border: none;
    padding: 10px 25px;
}

.plaza-button.disponible:hover {
  background-color: rgb(129, 204, 139);
}
.plaza-button.ocupado {
  background-color: rgb(207, 13, 13);
  border-radius: 5%;
  padding: 10px 25px;
  border-color: rgb(207, 13, 13);
  color: rgb(255, 255, 255);
}

.horizontal-line {
  width: 150%;
  height: 2px;
  background-color: white;
  margin: 10px -20px;
}

/* Agregamos la pseudo-clase para la línea vertical */
.plazas-container {
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 flex-wrap: wrap;
}

.buscadores {
  display: flex;
  justify-content: space-around;
  margin: 2vh;
  border-radius: 50%;
}
.h1{
  color: rgb(0, 0, 0);
  font-size: 400%;
  text-align: center;
}
.buscador{
  border-radius: 50%;
}
.linea-vertical{
  width: 2px;
    background-color:white;
}
.clase-linea{
  display: flex;
}

.titulo-auto{
  justify-content: center;
  color: white;
  padding: 5px;
  font-weight: bold ;
}
.alinear-columnas{
  display: flex;
  justify-content: center;
}

.botonMas{
  border-radius: 20px;
  width: 30px;
  font-weight: bold;
  align-items: center;
  border-color: rgba(195 206 218 /70%);
}

.add-plazas {
  padding-left: 380px;
}

.iconos{
  position: absolute;
    top: 22px;
    right: 0px;
    color: #0d6efd;
    border: 2px solid #6c757d;
    border-radius: 3px;
    width: 20px;
    height: 25px;
}

.blocks{
  background-color:  #738FA770;
  border-radius: 7px;
}