.contenedorQ{
    height: 87vh;
    width: 100%;
}
.cuadroQ {
    background-image: linear-gradient(to right, #738FA7, #C3CEDA, #738FA7);
    border-radius: 10px;
    height: 100%;
    margin-top: 6vh;
    margin-left: 10vw;
    margin-right: 10vw;
}
.tituloUserA{
    height: 50px;
}
.button{
    display: flex;
    justify-content: end;
}
.contenidoQuejaA{
    color: rgb(0, 0, 0);
    display: flex;
    font-size: 2vh;
    font-family: Arial, Helvetica, sans-serif;
}

.iconoClaim{
    font-size: 8rem;
}