.containerRegistro {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.contenedorRegistroA{
    width: 75%;
}

.welcome{
    border-radius: 50px 0px 0px 50px;
    background: linear-gradient(90deg, #071330, #0C4160, #738FA7);
    border-right: 2px solid #C3CEDA;
}


.wrapperRegistro {
    background: linear-gradient(90deg, #738FA7, #C3CEDA );
    width: 50%;
}

.wrapperRegistro::-webkit-scrollbar {
    width: 8px;
}

.wrapperRegistro::-webkit-scrollbar-thumb{
    background: rgba(7, 19, 48, 30%);
}

.groupRegistro {
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #071330;
    color: #071330;
}

.groupRegistro:hover {
    color: #0C4160;
    border: 1px solid #0C4160
}

.inputRegistro {
    background : inherit; 
    border: none;
    outline: none;
    box-shadow: none;
    color: #071330;
    letter-spacing: 1px;
    
}

@media(min-width: 375px) and (max-width: 675px) {
    
    .wrapperRegistro {
        background-color: #C3CEDA;
        border-radius: 10px;
        width: 100%;
    }
    .contenedorRegistro{
        width: 100%;
    }
}
  