.containerReserva{
    height: 86.9vh;
}
.cursor{
    cursor: pointer;
    text-decoration: none;
    color: rgb(17, 16, 16);
}

.cursor:hover{
    color: white;
}
.alturaVertical{
    height: 65%;
}
#image-upload::-webkit-file-upload-button {
    display: none;
  }


@media(max-width: 575px) {
    .alturaVertical{
        height: 50%;
    }
  }