.cardH {
    background-color: rgba(195 206 218 /70%);
    width: 100%;

}
.cardV {
    background-color: rgba(195 206 218 /70%);
    width: 100%;
    height: 94.5%;
}

@media(max-width: 575px) {
    .cardV {
        background-color: rgba(195 206 218 /70%);
        height: 100%;
    }
  }