.contenedorC{
    width: 82.34vw;
    height: 110vh;
    background-color: rgba(7 19 48 / 80%);
}

@media (max-width:990px){
    .contenedorC{
        width: 100vw;
        height: 87vh;
        background-color: rgba(7 19 48 / 80%);;
        
    }
}