.h1{
    color: aliceblue;
    text-align: center;
}
.p{
    margin-top: 2%;
}
.formulario{
     background-color: #D9D9D9;
    margin-top: 5px;

    display: grid;
    place-content: center;
}
.lista{
    position: relative;
    display: inline-block;
    
}
.contenedorC{
    width: 85vw;
    height: 87vh;
    background-color: #738FA7;

}


@media (max-width:990px){
    .contenedorC{
        width: 100vw;
        height: 87vh;
        background-color: #738FA7;
    
    }
}