.page {
    background-color: #E4E4E4;
    pa
  }
  .section {
    margin: 10;
    padding:10;
    flex-grow: 1;
  }
  .table{
    display: table;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .tableRow {
    margin: auto;
    flex-direction: row;
  }
  .tableCell {
    margin: auto;
    margin-top: 5;
    margin-bottom: 5;
    font-size: 10,
  }