.containerFactura{
    height: 87vh;
    width: 100%;
}

.factura{
    width: 25%;
    height: 80%;
}

.valid{
    width: 25%;
    height: 50%;
}

.download{
    width: 25%;
}

@media(min-width: 355px) and (max-width: 675px) {
    .factura{
        width: 80%;
    }
    .download{
        width: 75%;
    }
    .valid{
        width: 60%;
    }
}