.main {
    background-color: rgba(7 19 48 /80%);
    min-height: 87vh;
    width: 17vw;
    border-right: 1px solid white;
}

.opcion {
    list-style: none;
    padding: 0 30px;
    width: 17vw;
    margin-left: -32px;
}

.opcion:hover {
    background-color: rgba(195 206 218 / 20% );
}

.opcion:hover .opciones {
    color: white;
}